
.movie-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    // flex-direction: column;
  }

mat-card {
    // width: 320px;
    background-color: #EEEBDD;
    font-family: 'Acme', sans-serif;
    max-width: 400px;
    margin-top: 20px;
    border-radius: 20px;
    border: 4px groove #FFF;
}

.mat-card-title {
    color: #FF4081;
  }

img {
    width: 300px;
    height: 470px;
}
.director{
    color:#3F51B5;
}

.added-to-favorites {
    color: #FF4081;
}

@media screen and (max-width: 840px) {
    mat-card {
        max-width: 350px;
    }
}