<p>delete-card works!</p>


<div>
    <mat-card>
        <mat-card-header>
            <mat-card-title>Delete your profile</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <h4>Dou you really want do delete your profile?</h4>
        </mat-card-content>
        <mat-card-actions>
            <button
                mat-raised-button
                color="warn"
                (click)="deleteUser()"
            >
                YES
            </button>
        </mat-card-actions>
    </mat-card>
</div>
