 
.profile-div {
    font-family: 'Work Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
    margin: 30px auto;
}

.favorited-div {
    background-color: #D9D7F1;
    padding: 30px;
    border-radius: 20px;
    border: 4px groove #FFF;
}

h2 {
    font-family: 'Acme', sans-serif;
    font-size: 30px;
}

li {
    font-size: 20px;
}

.details-div {
    max-width: 400px;
    background-color: #E1E8EB;
    padding: 16px;
    border-radius: 20px;
    font-size: 17px;
    border: 4px groove #FFF;
}

mat-card {
    background-color: #EEEBDD;
    font-family: 'Acme', sans-serif;
    max-width: 400px;
    margin-top: 20px;
    border-radius: 20px;
    border: 4px groove #FFF;
}

mat-card-content {
    margin: 16px;
}

input {
    font-size: 17px;
}

@media screen and (max-width: 900px) {
    .profile-div {
        flex-direction: column;
    }

    .favorited-div {
        margin-bottom: 20px;
    }

    h2 {
        font-size: 28px;
    }

    li {
        font-size: 18px;
    }

    .details-div {
        font-size: 15px;
    }

    input {
        font-size: 15px;
    }
}
