.user-profile-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 50px
}

mat-card {
    width: 500px;
    padding: 30px;
    background-color: #3F51B5;
    color:white;
    justify-content: center;
}

mat-card-header{
    justify-content: center;
    color:#FF4081;
}

.content-container{
    font-size: 16px;
    margin-top:50px;
    margin-left:50px;
}

mat-icon{
    margin-right: 10px;
}

.profile-title{
    justify-content:space-between;
    padding:15px
}
